<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title%>" />
  <div class="product-item-content">
    <h2><%= product.title%></h2>
    <div class="product-item-action">
      <a href="/admin/products/<%= product.id %>" class="btn btn-alt"
        >View & Edit</a
      >
      <form action="/admin/productss/<%= product.id %>" method="post">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button type="submit" class="btn btn-alt">Delete</button>
      </form>
    </div>
  </div>
</article>
